app = 'world-of-darkness-bot'
primary_region = 'cdg'

[build]

[env]
  COMMAND_PREFIX = '!'

[processes]
  app = 'python main.py'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
